.gradle/
.metadata/
Servers/
build/
.idea/
logs/
webapps/
sim/
out/
.settings/
target/
.project
.classpath
bin/
target/
work/
atlassian-ide-plugin.xml
*.iml
*.ipr
*.iws
*.log
*.txt
test-output/
content
node_modules/
.idea/
