//defining all the required text-colors
$darkBlueColor:#032b5a;
$lightBlueColor:#419eda;
$whiteColor:#fff;
$transparentGrey:#d2d2d2;
$electricBlueColor:#449fdb;

//defining all the required background-colors
$greyColor:#f8f8f8;
$boxGreyColor:#efefef;
$lightBoxGrey:#eeeeee;
$darkBoxGreyColor:#e6e6e6;
$dullGrey:#d8d8d8;
$semiTransparentBlack:rgba(0,0,0,0.7);
$widgetHeaderBg_fallback:#002e54;