//defining all the variables
$defaultFontSize:14px;
$defaultLineHeight:1;
$widget-padding:30px;
$widget-inline-padding:20px;
$button-state-active:#032b5a;

//overlay
$overlay-right-padding:83px;
$overlay-left-padding:29px;

//images for checkbox
$checkbox-checked:$imagePath + "checkbox_check.jpg";
$checkbox-unchecked:$imagePath + "check_box.jpg";

