<article>
	<div ng-hide="infoPage.error" class="container-padding">
		<section>
			<h1 class="data-information-heading">What data is included in my data allowance?</h1>
			<p class="info-paragraph">
				All of the data that goes to and from your mobile over our network, except when you use Wi-Fi, is included in your allowance.
			</p>
			<p class="info-paragraph">	
				This includes web pages, videos, downloading applications and sending and receiving emails. Your data usage is updated every 30 minutes on the My O2 app.
			</p>
		</section>
		<hr class="info-seperator"/>
		<section>
			<h1 class="data-information-heading">Is there anything that isn't included in my data allowance? </h1>
			<p class="info-paragraph">
				Yes. We don't include some of our main services, like:
			</p>
			<p class="info-paragraph">	
				- Visual Voicemail and Palm Pre software updates
			</p>
			<p class="info-paragraph">
				- Non O2 UK data (when you're roaming abroad) which is charged separately
			</p>
			<p class="info-paragraph">	
				- Access to key O2 websites including My O2
			</p>
			<p class="info-paragraph">
				So you can keep using them even if you run out of data.
			</p>
		</section>
		<hr class="info-seperator"/>
		<section>
			<h1 class="data-information-heading">What happens when I've used up all my allowance? </h1>
			<p class="info-paragraph">
				We'll send you a text if you use up all your data. Your data speeds will slow down to 15kbps.
			</p>
			<p class="info-paragraph">	
				So you'll still be able to look at mobile web pages, but they'll take longer to load.
			</p>
			<p class="info-paragraph">	
				If you're on Web Daily, and you reach your 100MB daily allowance, you'll have to wait until midnight before you can use any more data.
			</p>
		</section>
	</div>
</article>
<hr class="blue-strip-separator" />
