<h1>My Tariff</h1>
<p> <span class="currency"> 35.00 </span> per month</p>
<p>Lorem ipsum dolor sit amet tarrif</p>



<input type="checkbox" id="more-about-tariff" role="button" class="transition-checkbox"/>
<label for="more-about-tariff" class="transition-checkbox-label">
    <span class="more-link"><img src="img/highend/cta_more.png"/> More about tariff </span>
    <span class="less-link"><img src="img/highend/cta_less.png"/> Less about tariff</span>
</label>

<section class="more-section">
    <section class="grid">
        <div class="grid-row">
            <label class="grid-column">Lenght of Contract</label>
            <label class="grid-column">24 months</label>
        </div>

        <div class="grid-row">
            <label class="grid-column">Renewal date</label>
            <label class="grid-column"> <date>12 Nov 2014</date> </label>
        </div>

    </section>

   <a href="#" class="customlink"><img src="img/highend/cta_link.png"/> View tariff details</a>
</section>
