	<script type="text/javascript" src="js/lib/raphael.js"></script>
	<script type="text/javascript" src="js/lib/angular.js"></script>
	<script type="text/javascript" src="js/lib/angular-route.js"></script>
	<script type="text/javascript" src="js/lib/angular-sanitize.js"></script>
	<script type="text/javascript" src="js/lib/angular-animate.js"></script>
	<script type="text/javascript" src="js/lib/donutchart.js"></script>
	<script type="text/javascript" src="js/lib/jquery-1.7.2.min.js"></script>
	## IMP: Minified version of angular-masonry is creating problem with imagesLoaded function
	<script type="text/javascript" src="js/lib/angular-masonry.js"></script>
	<script src="js/coremetrics/eluminate.js" type="text/javascript"></script>
	<script src="js/coremetrics/cmdatatagutils.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/lib/modernizr-svg.min.js"></script>
	##Following script is used to run jQuery in non conflict mode when multiple jQuery versions are loaded
	## Following shim is used to get placeholder working on IE8
<!--[if lt IE 10]>
	<script src="js/jquery-1.7.min.js" type="text/javascript"></script>

	<script>
		var jQ17 = jQuery.noConflict(true);
	</script>
	<script src="js/lib/jquery-shims-placeholder.js" type="text/javascript"></script>
	
<![endif]-->