##
###parse("templates/highend/widget.html")
###parse("templates/highend/errorpage.html")
###parse("templates/highend/loadingpage.html")
###parse("templates/highend/chatonline.html")
##
###parse("templates/highend/adddataboltonselect.html")
###parse("templates/highend/adddataboltonconfirm.html")
###parse("templates/highend/adddataboltonsuccess.html")
###parse("templates/highend/adddataboltons.html")
###parse("templates/highend/allowancedetailspartial.html")
###parse("templates/highend/allowancepartial.html")
##
###parse("templates/highend/allowanceslinksummary.html")
###parse("templates/highend/allowancesummary.html")
###parse("templates/highend/allowanceswidget.html")
###parse("templates/highend/callingplansummary.html")
###parse("templates/highend/myboltonssummary.html")
###parse("templates/highend/mylatestbillsummary.html")
###parse("templates/highend/myphoneplansummary.html")
###parse("templates/highend/myrecentchargessummary.html")
###parse("templates/highend/myupgradeoptionssummary.html")
###parse("templates/highend/mytariffsummary.html")
##
##
###parse("templates/highend/myboltonsdetails.html")
###parse("templates/highend/mylatestbilldetails.html")
###parse("templates/highend/myrecentchargesdetails.html")
###parse("templates/highend/mytariffdetails.html")
###parse("templates/highend/upgradeoptiondetails.html")
###parse("templates/highend/balanceinformation.html")
###parse("templates/highend/boltondetailtemplate.html")
###parse("templates/highend/datainformation.html")
###parse("templates/highend/mycallingplan.html")
###parse("templates/highend/myphoneplanpage.html")
##
##
##
###parse("templates/highend/payg/anniversarydateinfo.html")
###parse("templates/highend/payg/paygbalanceandallowancedetails.html")
###parse("templates/highend/payg/paygbalanceandallowancesummary.html")
###parse("templates/highend/payg/paygboltonsdetails.html")
###parse("templates/highend/payg/paygboltonssummary.html")
###parse("templates/highend/payg/paygcallingplansummary.html")
###parse("templates/highend/payg/paygmytariffsummary.html")
###parse("templates/highend/payg/paygmytariffdetails.html")