<script type="text/ng-template" id="templates/highend/payg/anniversarydateinfo.html">
<article class="container-padding">
	<div ng-hide="infoPage.error">
		<section>
			<h1>What is my anniversary date?</h1>
			<p class="info-paragraph">
				Your anniversary date relates to your tariff and any bolt ons you may have. It is the date every month when your tariff allowances restart (depending on your top ups) and it is also the date that any Bolt Ons are renewed (depending on whether you have enough credit for the monthly payment from your call time credit).
			</p>
		</section>
		<hr class="info-seperator"/>
		<section>
			<h1>Changes to my anniversary date</h1>
			<p class="info-paragraph">
				You will receive a text message reminding you to top up. If you top-up after your anniversary date, then your anniversary date will change to the date you topped up.
			</p>
			<p class="info-paragraph">
				 Similarly for your Bolt Ons. If you have not got enough Calltime credit on your Anniversary date, then when you next top up, the payment for your Bolt On will be taken and your Bolt On will restart on that day. This will become your new Anniversary date.
			</p>
		</section>
		<hr class="info-seperator"/>
		<section>
			<h1>When is my anniversary date?</h1>
			<p class="info-paragraph">
				You can send a SMS with the word "balance" to 20202, or call 4444 free and select option 2.2 to find out your anniversary dates. You will be told your remaining Tariff free allowance and/or Bolt On balance (depending on what you have on your account) and the date when these will expire - your anniversary date.
			</p>
			<p class="info-paragraph">
				Tariff and Bolt On anniversary dates will be different dates in the month depending on when you set up your tariff or any Bolt Ons you have.
			</p>
		</section>
	</div>
</article>
<hr class="blue-strip-separator" />
</script>
<script type="text/javascript-lazy">
    cmSetProduction();
    cmCreatePageviewTag("RMW My O2 | Info anniversary PAYG", "My O2 Mobile web - PAYG");
</script>